<div class="container my-4">
  <h1>Properties Booking</h1>
  <div *ngIf="allBookingHotels.length<=0">
    <div class="d-flex py-5 my-5 justify-content-lg-center align-items-center flex-column">
      <svg data-test-id="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"
        fill="#888888" height="70px" class="bui-empty-state__icon">
        <path
          d="M13.629 22.5H2.25a.75.75 0 0 1-.75-.75V2.25a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v11.379a.75.75 0 0 1-.22.53L14.16 22.28a.75.75 0 0 1-.53.219zm0 1.5a2.25 2.25 0 0 0 1.59-.659l8.122-8.122A2.25 2.25 0 0 0 24 13.63V2.25A2.25 2.25 0 0 0 21.75 0H2.25A2.25 2.25 0 0 0 0 2.25v19.5A2.25 2.25 0 0 0 2.25 24h11.379zM15 23.115V15.75a.75.75 0 0 1 .75-.75h7.365a.75.75 0 0 0 0-1.5H15.75a2.25 2.25 0 0 0-2.25 2.25v7.365a.75.75 0 0 0 1.5 0z">
        </path>
      </svg>
      <h4 class="my-4" style="color:#888888">No bookings</h4>
    </div>
  </div>
  <ng-container *ngIf="allBookingHotels.length>0">
    <h2 class="text-end ">Hotels booking</h2>
    <div class="bg-white mb-3 rounded-3 p-3">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Hotel name</th>
            <th scope="col">Guest name</th>
            <th scope="col">Check in</th>
            <th scope="col">Check out</th>
            <th scope="col">Total price</th>

          </tr>
        </thead>
        <tbody *ngFor="let hotel of hotels ; let i = index">

          <ng-container *ngFor="let booking of allBookingHotels[i]">
            <tr>
              <td> {{hotel.hotelName}}</td>
              <td>{{booking.guestId}}</td>
              <td>{{booking.startAt | date:'mediumDate'}}</td>
              <td>{{booking.endAt | date:'mediumDate'}}</td>
              <td>{{booking.totalPrice}}</td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>




  <ng-container *ngIf="bookingApart.length>0">
    <h2 class="text-end">Apartments booking</h2>
    <div class="bg-white mb-3 rounded-3 p-3">

      <table class="table">
        <thead>
          <tr>
            <th>Apartment name</th>
            <th>Guest name</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Total price</th>

          </tr>
        </thead>
        <tbody *ngFor="let apartment of apart ; let i = index">

          <ng-container *ngFor="let booking of bookingApart[i]">
            <tr>
              <td> {{apartment.apartmentName}}</td>
              <td>{{booking.guestId}}</td>
              <td>{{booking.startAt | date:'mediumDate'}}</td>
              <td>{{booking.endAt | date:'mediumDate'}}</td>
              <td>{{booking.totalPrice}}</td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>



  <ng-container *ngIf="bookingApart.length>0">
    <h2 class="text-end">Campgrounds booking</h2>
    <div class="bg-white mb-3 rounded-3 p-3">

      <table class="table">
        <thead>
          <tr>
            <th>Campground name</th>
            <th>Guest name</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Total price</th>

          </tr>
        </thead>
        <tbody *ngFor="let campground of camp ; let i = index">

          <ng-container *ngFor="let booking of allCampBooking[i]">
            <tr>
              <td> {{campground.campgroundName}}</td>
              <td>{{booking.guestId}}</td>
              <td>{{booking.startAt | date:'mediumDate'}}</td>
              <td>{{booking.endAt | date:'mediumDate'}}</td>
              <td>{{booking.totalPrice}}</td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>